.border {
    width: 100px;
    height: 100px;

    border-width: 3px 2px 5px 7px;
    border-style: solid dashed double groove;
    border-color: black red blue yellow;
    border-radius: 10px 2px 0 50%;
}

/* .background {
    width: 300px;
    height: 300px;

    background-image: url("./image/image.png");

    border-image: linear-gradient(purple, yellow) 27 / 3px;
    border-image-outset: 6px;
    border-radius: 50%;
} */

